HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDE - IntelliJ
.idea/
*.iml

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/